@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #eae2b7;
  --foreground: #003049;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #003049;
    --foreground: #eae2b7;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Press Start 2P', Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@font-face {
  font-family: 'Press Start 2P';
  src: url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap')
    format('woff2');
}
